<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.desription }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:image" content="{{ site.url }}/preview.png" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="fb:app_id" content="193758347662800" />

  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

  <script type="text/javascript">
    var host = "{{ site.enforce_ssl }}";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
      window.location.protocol = "https";
  </script>

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body>
  <!--[if lt IE 8]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- Add your site or application content here -->

  {{ content }}

  {% if page.footer == "non" %}

  <div class="container-fluid text-center tc-bg-white">
    <p><small>
      <a href="{{ site.url }}" target="_blank" rel="noopener">TaxClock</a>
      by <a href="https://codeforafrica.org/" target="_blank" rel="noopener">Code for Africa</a>
    </small></p>
  </div>

  {% else %}

  <footer>
    <div class="footer-main container">
      <div class="row">
        <div class="col-sm-5">
          <p>
            <small><strong>TaxClock</strong> shows how public budget data can be used to help citizens better understand how governments spend our taxmoney.</small>
          </p>

          <p>
            <small>The project has been inspired by <strong><a href="http://fchasen.com/taxday/" target="_blank" rel="noopener">Tax Day</a></strong> by <a href="http://fchasen.com/" target="_blank">Fred Chasen</a> and by <strong><a href="http://code4sa.org/taxclock" target="_blank" rel="noopener">Tax Schedule</a></strong> by <a href="http://code4sa.org/" target="_blank" rel="noopener">Code for South Africa</a></small>
          </p>
          <p>
            <small>This site is an <strong>africanSPENDING</strong> project of <strong><a href="https://codeforafrica.org/" target="_blank">Code for Africa</a></strong>. All content is released under a <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="noopener">Creative Commons 4 Attribution license</a>. Reuse it to help empower your own community. The code is available on <strong><a href="https://github.com/CodeForAfrica/TaxClock/" target="_blank" rel="noopener">GitHub</a></strong> and data is available on ​<strong><a href="http://openafrica.net/" target="_blank" rel="noopener">openAFRICA</a></strong>​.</small>
          </p>
        </div>
        <div class="col-sm-3">
          <p style="margin-bottom: 0;">
            Other africanSPENDING tools:
          </p>
          <ul>
            <li>
              <a href="https://pesacheck.org/" target="_blank">PesaCheck</a>
            </li>
            <li>
              <a href="http://biscuitindex.codeforkenya.org/" target="_blank">Biscuit Index</a>
            </li>
          </ul>
          <br/>
          <p style="margin-bottom: 0;">
            Join Our Community:
          </p>
          <ul>
            <li>
              <a href="https://facebook.com/HacksHackersAfrica" target="_blank">Hacks/Hackers Africa</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-4 logos text-center">
          <a href="https://codeforkenya.org/" target="_blank" rel="noopener"><img src="img/cfkenya_white.png" /></a>
          <a href="http://hivos.org/" target="_blank" rel="noopener"><img src="img/hivos_white.png" /></a>
        </div>
      </div>
    </div> <!-- /.container -->

    <!-- <div class="footer-inverse container-fluid text-center">
       <a href="https://standardmedia.co.ke/" target="_blank" rel="noopener">
        <img src="/img/standard-logo.png">
      </a>
    </div> -->

  </footer>

  {% endif %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="https://code.jquery.com/jquery-1.12.4.min.js"><\/script>')
  </script>
  <script src="/js/plugins.js"></script>

  <script src="/js/vendor/jquery-ui-1.8.11.custom.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pym/1.2.0/pym.v1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
  <script src="/js/main.js"></script>

  <script src="/js/taxclock/tc-base.js"></script>
  <script src="/js/taxclock/tc-colors.js"></script>

  <script src="/js/taxclock/tc-incomecalculator.js"></script>
  <script src="/js/taxclock/tc-icsformatter.js"></script>

  <script src="/js/taxclock/tc-schedule.js"></script>

  <script src="/js/vendor/raphael-min.js"></script>

  <script src="/js/vendor/g.raphael.js"></script>
  <script src="/js/vendor/g.timechart.js"></script>
  <script src="/js/vendor/g.piechart.js"></script>
  <script src="/js/clock.js"></script>
  <script src="/js/vendor/dvc.ajax.js"></script>
  <script src="/js/taxclock/tc-clock.js"></script>
  <script src="/js/taxclock/tc-stories.js"></script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
    ( function(b, o, i, l, e, r) {
      b.GoogleAnalyticsObject = l;
      b[l] || (b[l] = function() {
        (b[l].q = b[l].q || []).push(arguments)
      });
      b[l].l = +new Date;
      e = o.createElement(i);
      r = o.getElementsByTagName(i)[0];
      e.src = 'https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
